body {
    background-color: #131313;
    margin: 0;
    padding: 0;
    color: #f6f6f6;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    filter: blur(0.2rem);
    transform: translateX(-100%);
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}